*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {

  .container-nav{
    width: 100vw;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(191, 12, 12, 0.19);
    display: flex;
    justify-content: space-between;
  }
  .logo{
    line-height: 80px;
    margin-left: 2rem;
  }
  .logo>.img>img{
    width: 250px;
  }
  .logo>p{
    display: none;
  }
  .btns{
    line-height: 80px;
    margin-right: 2rem;
  }
  .links{
    display: none;
  }
  
}

.links>li>a{
  text-decoration: none;
  color: #000000;
}

/* For desktop */

@media only screen and (min-width: 768px) {

  header{
    width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-nav{
    width: 300px;
    height: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(191, 12, 12, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  
  }
  .logo{
    margin: 2rem auto;
    text-align: center;
  }
  .logo>p{
    font-weight: 700;
    letter-spacing: 1px;
  }
  .img>img{
    width: 200px;
  }
  .btns{
    margin: 0rem auto 2rem auto;
    width: 200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .links{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .links>.btnlinks{
    font-size: 18px;  
    font-weight: 800;
    letter-spacing: 2px;
    margin: 1rem 0rem;
    display:inline;
    padding: 4px 8px;
  }
  .links>.btnlinks:hover{
    padding: 4px 8px;
    text-decoration: underline;
    color: blue;
  }
  
}


